<!DOCTYPE HTML>
<html>
<head>
<title>Photo (Beta)</title>
<script type="text/javascript" >
</script>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
		<style type="text/css">
			*
			{
				color: #444;
				font-family: Monospace;
				font-size: 12px;
			}
			
			body
			{
				margin: 0px;
				overflow: scroll;
			}
			
			select
			{
				text-transform: uppercase;
				font-size: 11px;
				text-align: center;
			}
			
			hr
			{
				border: 0;
				height: 1px;
				background-color: #ccc;
				margin: 20px 0px;
			}
			
			.gui
			{
				color: black;
				width: 500px;
				background-color: gray;
				//border-bottom: 1px solid #ddd;
				//padding: 5px 10px;
				text-align: center;
				//text-transform: uppercase;
				line-height: 28px;
                font-size: 1.3em;
				cursor: default;
                opacity:0.95;
                z-index:13000;
                    -moz-box-shadow: 1px 1px 25px #999;
                	-webkit-box-shadow: 1px 1px 25px #999;
                    box-shadow: 1px 1px 25px #999;
			}
			
			.button
			{
				padding: 2px;
				cursor: pointer;
                font-size:1.5em;
			}
			
			.key
			{
				padding: 0px 8px;
				margin-left: 1px;
				background-color: #eee;
			}
            img {
                opacity: 1;
            }
            img:hover {
                opacity: 1;
                /*Reflection*/ 
                /*-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));   */
                /*Glow*/ 
                -webkit-box-shadow: 0px 0px 5px rgba(255,255,255,0.8); -moz-box-shadow: 0px 0px 5px rgba(255,255,255,0.8); box-shadow: 0px 0px 5px rgba(255,255,255,0.8); 
            }
            img[alt] {
                font-size: 2em;
            }
            .no-hover {
                opacity: 1;  
                -webkit-box-shadow: 0px 0px 0px; -moz-box-shadow: 0px 0px 0px; box-shadow: 0px 0px 0px;
            }
            .no-hover:hover {
                opacity: 1;  
                -webkit-box-shadow: 0px 0px 0px; -moz-box-shadow: 0px 0px 0px; box-shadow: 0px 0px 0px;
            }
.drag {position: absolute;}
//img {
//    -moz-box-shadow: 1px 1px 12px #999;
//	-webkit-box-shadow: 1px 1px 12px #999;
//        box-shadow: 1px 1px 12px #999;
//        }
//img:hover {
//	-moz-box-shadow: 1px 1px 24px #999;
//	-webkit-box-shadow: 1px 1px 24px #999;
//        box-shadow: 1px 1px 24px #999;
//}
.toolbar {
bottom:0px;
left:-10%;
width:110%;
height:25px;
background-color:gray; 
opacity:0.95;
position:fixed;
z-index:13000;
	-moz-box-shadow: 1px 1px 25px #999;
	-webkit-box-shadow: 1px 1px 25px #999;
        box-shadow: 1px 1px 25px #999;
}
.titlebar {
visibility:hidden;
top:0px;
left:-10%;
width:110%;
height:25px;
background-color:gray; 
opacity:0.95;
position:fixed;
font-family:Arial;
font-size:16px;
z-index:5000;
	-moz-box-shadow: 1px 1px 25px #999;
	-webkit-box-shadow: 1px 1px 25px #999;
        box-shadow: 1px 1px 25px #999;
}
		</style>
<script src="/js/functions.js"></script>
<script type="text/javascript">
function deleteImage(el) {
    saveToLocalStorage();
	setPageScroll();
  var myForm = document.createElement("form");
  myForm.method="post" ;
  myForm.action = "/<%=data.params.user + '/' + data.params.gallery%>/photos/delete";
    var myInput = document.createElement("input") ;
    myInput.setAttribute("name", "file") ;
    myInput.setAttribute("value", el.parentNode.id.substring(0,el.parentNode.id.length-3));
    myForm.appendChild(myInput) ;
    var myInput5 = document.createElement("input") ;
    myInput5.setAttribute("name", "deleteIsOn") ;
    myInput5.setAttribute("value", "false");
    myForm.appendChild(myInput5) ;
  document.body.appendChild(myForm) ;
  myForm.submit() ;
  document.body.removeChild(myForm) ;
}
function saveCoords() {
    saveToLocalStorage();
    setPageScroll();
    
    var data = new Object();
    data.side = dd.obj.x*(1366/getWindowSize()[0]);
    data.top = dd.obj.y*(1366/getWindowSize()[0]);
    data.image = dd.obj.name;
    data.width = dd.obj.w*(1366/getWindowSize()[0]);
    data.height = dd.obj.h*(1366/getWindowSize()[0]);
    data.deleteIsOn = '';
    data.z = dd.z;
    $.ajax({
      type: 'POST',
      url: '/<%=data.params.user + '/' + data.params.gallery%>/upsert',
      data: data,
      success: success(),
      dataType: 'json'
    });
}
function updateLink(el) {
    saveToLocalStorage();
    setPageScroll();
  var myForm = document.createElement("form");
  myForm.method="post" ;
  myForm.action = "/<%=data.params.user + '/' + data.params.gallery%>/updateLink";
    var myInput = document.createElement("input") ;
    myInput.setAttribute("name", "file") ;
    myInput.setAttribute("value", el.parentNode.id.substring(0,el.parentNode.id.length-3));
    myForm.appendChild(myInput) ;
    var myInput5 = document.createElement("input") ;
    myInput5.setAttribute("name", "link") ;
    myInput5.setAttribute("value", prompt("Link", ""));
    myForm.appendChild(myInput5) ;
  document.body.appendChild(myForm) ;
  myForm.submit() ;
  document.body.removeChild(myForm) ;
}
function goHome() {
  saveToLocalStorage();
  var myForm = document.createElement("form");
  myForm.method="get" ;
  myForm.action = '/home/users';
  document.body.appendChild(myForm);
  myForm.submit();
  document.body.removeChild(myForm);
}
</script>
</head>

<body oncontextmenu="return false;" >

  <div align="center" class="toolbar" id="toolbar" style="z-index:13000;">
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  <input type="button" onclick="goHome();" value="Home" />
  <input type="button" onclick="logout();" value="Log Out" />
  <input type="button" onclick="showUpload();" value="Upload new images" />
  <input type="button" onclick="drawImage();" value="Draw image" />
  <input type="button" id="adminDeleteButton" onclick="showDelete();" value="Delete image" />
  <input type="button" id="updateLinkButton" onclick="showLinkUpdate();" value="Update Image Link" />
  <input type="button" id="publishGallery" onclick="publishGallery();" value="Publish Gallery" />
  </div>

<script type="text/javascript" src="/js/wz_dragdrop.js"></script>


<table width="100%" height="100%">
  <tr>
    <td align="center" valign="middle">
		<div name="upload" id="upload" style="position:fixed;visibility:hidden;left:30%;top:40%;width:40%;z-index:12000;font-family:Arial;font-size:18px;" align="center">
		<form name="upload" action="/<%=data.params.user + '/' + data.params.gallery%>/photos/new" enctype="multipart/form-data" method="post">
		<b>Select files to upload:</b><br/>
		<input type="file" name="image" multiple/>
		<input type="submit" name="Upload" value="Upload"/><input type="button" onclick="hideUpload();" value="Cancel" />
		</form></div><br/>		
	</td>
  </tr>
  <!--
  <tr>
    <td align="center" valign="middle">
		<div name="uploadLink" id="uploadLink" style="position:fixed;visibility:hidden;left:30%;top:40%;width:40%;z-index:12000;font-family:Arial;font-size:18px;" align="center">
		<form name="uploadLink" action="/<%=data.params.user + '/' + data.params.gallery%>/photos/newlink" enctype="multipart/form-data" method="post">
		Link or Javascript: <textarea name="link" rows="10" cols="50"></textarea><br/>
		<b>Select file to upload:</b><br/>
		<input type="file" name="image" /><br/>
		<input type="submit" name="uploadLink" value="Upload file"/><input type="button" onclick="hideLinkUpload();" value="Cancel" />
		</form></div><br/>		
	</td>
  </tr>
  -->
</table>

<div name="overlay" id="overlay" style="left:-50px;top:-50px;position:fixed;visibility:hidden;width:150%;height:150%;z-index:11000;background-color:gray;opacity:0.95;" ></div>

<% var il = "";
for(var i in data.images) { 
    if(data.images[i].link.length>2) {
          %>
    	  <div style="visibility:hidden;" id="<%=data.images[i].source.split('/').pop()%>link"><%=data.images[i].link%></div>
    	  <%
    }
    if((data.images[i].width<400) && (data.images[i].height<400)) {
%>
<img src="<%=data.images[i].source.split('.')[0]+'-small.'+data.images[i].source.split('.')[1]%>" style="z-index:<%=data.images[i].z%>;width:<%=Math.round(data.images[i].width)%>px;height:<%=Math.round(data.images[i].height)%>px;left:<%=Math.round(data.images[i].left)%>px;top:<%=Math.round(data.images[i].top)%>px;" class="drag" id="<%=data.images[i].source.split('/').pop()%>" />
<% 
} else if((data.images[i].width<900) && (data.images[i].height<900)) {
%>
<img src="<%=data.images[i].source.split('.')[0]+'-medium.'+data.images[i].source.split('.')[1]%>" style="z-index:<%=data.images[i].z%>;width:<%=Math.round(data.images[i].width)%>px;height:<%=Math.round(data.images[i].height)%>px;left:<%=Math.round(data.images[i].left)%>px;top:<%=Math.round(data.images[i].top)%>px;" class="drag" id="<%=data.images[i].source.split('/').pop()%>" />
<%
} else {
%>
<img src="<%=data.images[i].source.split('.')[0]+'-large.'+data.images[i].source.split('.')[1]%>" style="z-index:<%=data.images[i].z%>;width:<%=Math.round(data.images[i].width)%>px;height:<%=Math.round(data.images[i].height)%>px;left:<%=Math.round(data.images[i].left)%>px;top:<%=Math.round(data.images[i].top)%>px;" class="drag" id="<%=data.images[i].source.split('/').pop()%>" />
<%
}
il += data.images[i].source.split('/').pop() + '","';
} %>

<%
    if((data.params.user=='home') && (data.params.gallery!='users')) {
        var c = 0; %>ha<%
        for(var i in data.galleries) {
            var source = data.galleries[i][0];
            if(source) source = source.source;
            else source = "";
            c++;
%>
            <a href="<%='/' + data.params.u + '/' + i%>">
            <!--
                <img title="<%=i%>" src="<%=source.split('.')[0]+'-small.'+source.split('.')[1]%>" style="z-index:10;position:absolute;left:<%=300+250*(c % 3)%>px;top:<%=150+150*Math.floor((c-1)/3)%>px;width:210px;height:140px;" />
            -->
                <img class="gridImg" alt="<%=i%>" src="<%=source.split('.')[0]+'-small.'+source.split('.')[1]%>" style="border:2px solid white;z-index:10;position:absolute;left:<%=300+250*(c % 3)%>px;top:<%=150+150*Math.floor((c-1)/3)%>px;width:210px;height:140px;" />
            </a>
<%
        }
    }
%>

<%
    if((data.params.user=='home') && (data.params.gallery=='users')) {
        var c = 0;
        for(var i in data.users) {
            c++;
%>
            <a href="<%='/home/' + data.users[i]%>">
                <img alt="<%=data.users[i]%>" src="" style="border:2px solid white;z-index:10;position:absolute;left:<%=300+250*(c % 3)%>px;top:<%=150+150*Math.floor((c-1)/3)%>px;width:210px;height:140px;" />
            </a>
<%
        }
    }
%>

<script type="text/javascript">
function setDraggables() {
	SET_DHTML(SCALABLE, SCROLL, "<%- il.substring(0, il.length-3)%>");
}
resizeFirst();
setDraggables(); 
pageScroll();
if(false) showDelete();
function setHover() {
	x = document.getElementsByTagName("img");
	for (i=0;i<x.length;i++)
	{
		if(x[i].name.split("jpgdivNI")[1]=="mG") {
			x[i].onmouseover = function() {fullScreenButton(this);};
			x[i].onmouseout = function() {deleteFullScreenButton(this);};
		}
	}
}
//setHover();

  </script>


<div id="fullScreenImg" style="top:4%;visibility:hidden;z-index:12000;position:fixed;">
<img class="no-hover" id ="fullScreenImage" style="top:0px;left:0px;position:absolute;z-index:12001;visibility:hidden;" src="" />
<img class="no-hover" id="closeFullscreenButton" src="/images/close.png" style="cursor:pointer;visibility:hidden;position:absolute;left:-40px;top:0px;z-index:10000;" onclick="closeFullscreen();"/>
</div>
<img src="/images/upArrow.png" style="visibility:hidden" />
<img src="/images/downArrow.png" style="visibility:hidden" />
		<script type="text/javascript" src="/js/brushes/circles.js"></script>
		<script type="text/javascript" src="/js/brushes/chrome.js"></script>
		<script type="text/javascript" src="/js/brushes/fur.js"></script>
		<script type="text/javascript" src="/js/brushes/grid.js"></script>
		<script type="text/javascript" src="/js/brushes/longfur.js"></script>
		<script type="text/javascript" src="/js/brushes/ribbon.js"></script>
		<script type="text/javascript" src="/js/brushes/shaded.js"></script>
		<script type="text/javascript" src="/js/brushes/simple.js"></script>
		<script type="text/javascript" src="/js/brushes/sketchy.js"></script>
		<script type="text/javascript" src="/js/brushes/squares.js"></script>
		<script type="text/javascript" src="/js/brushes/web.js"></script>
		<script type="text/javascript" src="/js/colorutils.js"></script>
		<script type="text/javascript" src="/js/colorselector.js"></script>
		<script type="text/javascript" src="/js/palette.js"></script>
		<script type="text/javascript" src="/js/menu.js"></script>
		<!--<script type="text/javascript" src="js/about.js"></script>-->	
		<script type="text/javascript" src="/js/main.js"></script>
		<script type="text/javascript">
		context.clearRect(0,0,canvas.width,canvas.height);
			var img     = new Image();
	    	img.onload  = function() {
	        	context.drawImage(img, 0, 0, canvas.width, (img.height/img.width)*canvas.width);
	    	}
	    	img.src     = "/images/<%=data.params.user + '-' + data.params.gallery%>-bg.png";
		</script>
</body>
</html>
